<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inclusión del archivo CSS de Bootstrap -->
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<!-- footer -->
		<footer class="footer text-center text-lg-start text-white" th:fragment="footer">
		  <div class="d-flex flex-column flex-md-row justify-content-between container-fluid p-3">
		    <div class="col-md-6 d-flex align-items-center justify-content-center">
		  		<a class="navbar-brand logo" href="#">Nutri<span class="logo logo_sub">Life</span></a>
			</div>
		
		    <div class="col-md-6 mt-4 mt-md-0">
		      <div class="row">
		        <div class="col-md-6 mb-4 mb-md-0 text-center">
		        	<!-- redes sociale -->
		          <h5 class="text-uppercase">Contacto</h5>
		            <ul class="list-unstyled">
		              <li class="mb-2">
		              	<a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_facebook" th:src="@{/img/facebook.svg}">Facebook</a>
		              </li>
		              <li class="mb-2">
		                <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_correo" th:src="@{/img/gmail.svg}">Correo</a>
		              </li>
		              <li class="mb-2">
		                <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_instagram" th:src="@{/img/instagram.svg}">Instagramk</a>
		              </li>
		            </ul>
		        </div>
		        <!-- Servicios -->
		        <div class="col-md-6 mb-4 mb-md-0 text-center">
		          <h5 class="text-uppercase">Servicios</h5>
		            <ul class="list-unstyled">
		              <li class="mb-2">
		              	<a href="#!" class="text-decoration-none text-white">Masa corporal</a>
		              </li>
		              <li class="mb-2">
		                <a href="#!" class="text-decoration-none text-white">Recetas</a>
		              </li>
		              <li class="mb-2">
		                <a href="#!" class="text-decoration-none text-white">Peso ideal</a>
		              </li>
		            </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		
		  <div class="text-center">© 2023 Copyright: Grupo 12</div>
		</footer>
		<!-- Inclusión del archivo JavaScript de Bootstrap -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>