<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inclusión del archivo CSS de Bootstrap -->
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<!-- Barra de navegación -->
	    <nav class="navbar navbar-expand-lg" th:fragment="nav">
		  <div class="container">
		    <div class="logo">Nutri<span class="logo logo_sub">Life</span></div>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		      <ul class="navbar-nav ms-auto">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/index}">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/usuarios/registro}">Registrarme</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/testimonios}">Testimonios</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Servicios
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="#">Cálculo IMC</a></li>
		            <li><a class="dropdown-item" href="#">Peso ideal</a></li>
		            <li><a class="dropdown-item" th:href="@{/recetas/vista}">Recetas</a></li>
		          </ul>
		        </li>
		        <li>
		        	<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Gestión de datos</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/ingredientes/listado}">Ingredientes</a></li>
							<li><a class="dropdown-item" th:href="@{/recetas/listado}">Recetas</a></li>
						</ul>
					</div>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<!-- Inclusión del archivo JavaScript de Bootstrap -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>