<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutriLife</title>
    <!-- Inclusión del archivo CSS de Bootstrap -->
  	<!-- <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/estilos/estilos.css}">-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  	<link href="../static/estilos/estilos.css" rel="stylesheet">
  </head>
  <body>
  	<!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg">
	  <div class="container">
	    <div class="logo">Nutri<span class="logo logo_sub">Life</span></div>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
	      <ul class="navbar-nav ms-auto">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Registrarme</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Testimonios</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Servicios
	          </a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-item" href="#">Cálculo IMC</a></li>
	            <li><a class="dropdown-item" href="#">Peso ideal</a></li>
	            <li><a class="dropdown-item" href="#">Recetas</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    
 	<!-- Calculo IMC -->
	<div class="container peso_container d-flex align-items-center justify-content-center">
	  <div class="row">
	    <div class="col-md-12">
	      <h2 class="peso_titulo">Calcular el índice de masa corporal</h2>
	      <form>
	        <div class="form-group mt-4">
	          <label for="inputNombre">Peso:</label>
	          <input type="number" class="form-control" id="inputNombre" placeholder="Ingrese su peso">
	        </div>
	        <button type="submit" class="btn boton-imc mb-4 mt-3">Enviar</button>
	      </form>
	    </div>
	    <div class="col-md-12">
	      <div class="table-responsive">
	        <table class="table">
	          <thead>
	            <tr>
	              <th>Fecha</th>
	              <th>Nombre</th>
	              <th>Apellido</th>
	              <th>Peso</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td>Dato 1</td>
	              <td>Dato 2</td>
	              <td>Dato 3</td>
	              <td>Dato 4</td>
	            </tr>
	            <tr>
	              <td>Dato 5</td>
	              <td>Dato 6</td>
	              <td>Dato 7</td>
	              <td>Dato 8</td>
	            </tr>
	            <tr>
	              <td>Dato 9</td>
	              <td>Dato 10</td>
	              <td>Dato 11</td>
	              <td>Dato 12</td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>


 	 <!-- footer -->
	<footer class="footer text-center text-lg-start text-white">
	  <div class="d-flex flex-column flex-md-row justify-content-between container-fluid p-3">
	    <div class="col-md-6 d-flex align-items-center justify-content-center">
	  		<a class="navbar-brand logo" href="#">Nutri<span class="logo logo_sub">Life</span></a>
		</div>
	
	    <div class="col-md-6 mt-4 mt-md-0">
	      <div class="row">
	        <div class="col-md-6 mb-4 mb-md-0 text-center">
	        	<!-- redes sociale -->
	          <h5 class="text-uppercase">Contacto</h5>
	            <ul class="list-unstyled">
	              <li class="mb-2">
	              	<a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_facebook" th:src="@{/img/facebook.svg}">Facebook</a>
	              </li>
	              <li class="mb-2">
	                <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_correo" th:src="@{/img/gmail.svg}">Correo</a>
	              </li>
	              <li class="mb-2">
	                <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_instagram" th:src="@{/img/instagram.svg}">Instagramk</a>
	              </li>
	            </ul>
	        </div>
	        <!-- Servicios -->
	        <div class="col-md-6 mb-4 mb-md-0 text-center">
	          <h5 class="text-uppercase">Servicios</h5>
	            <ul class="list-unstyled">
	              <li class="mb-2">
	              	<a href="#!" class="text-decoration-none text-white">Masa corporal</a>
	              </li>
	              <li class="mb-2">
	                <a href="#!" class="text-decoration-none text-white">Recetas</a>
	              </li>
	              <li class="mb-2">
	                <a href="#!" class="text-decoration-none text-white">Peso ideal</a>
	              </li>
	            </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	
	  <div class="text-center">© 2023 Copyright: Grupo 37</div>
	</footer>
  <!-- Inclusión del archivo JavaScript de Bootstrap -->
  <!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  </body>
</html>