<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutriLife</title>
    <!-- Inclusión del archivo CSS de Bootstrap -->
  	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
  </head>
  <body>
  
  	<!-- Navegación -->
	<nav th:replace="~{layouts/nav :: nav}"></nav>
    
 	<!-- Calculo IMC -->
	<div class="container peso_container d-flex align-items-center justify-content-center">
	  <div class="row">
	    <div class="col-md-12">
	    <div class="cajas">
	    <div> Datos De Usuario</div>
	    <label>Nombre:</label>
	    <div th:text="${usuario.nombre}"></div>
	    <label>Apellido:</label>
	    <div th:text="${usuario.apellido}"></div>
	    <label>Email:</label>
	    <div th:text="${usuario.email}"></div>
	    <label>Telefono:</label>
	    <div th:text="${usuario.telefono}"></div>
	    <label>Sexo:</label>
	    <div th:text="${usuario.sexo}"></div>
	    <label>Fecha de Nacimiento:</label>
	    <div th:text="${usuario.fecha_nacimiento}"></div>
	    <label>Estatura:</label>
	    <div th:text="${((usuario.estatura)/100) + ' M '}"></div>
	    </div>
	      <h2 class="peso_titulo">Indice de masa corporal</h2>
	      <form th:action="@{/imc/GuardarImc}" th:object="${usuario}" method="post">
	        <div class="form-group mt-4">
	          <label for="peso">Peso:</label>
	          <input type="hidden" name="id" th:value="${usuario.codigo}">
	          <input type="number" class="form-control" name="peso" id="peso" placeholder="Ingrese su peso">
	        </div>
	        <button type="submit" class="btn boton-imc mb-4 mt-3">Calcular IMC</button>
	      </form>
	      <div th:text="${aviso}"></div>
	    </div>
	    <div class="col-md-12">
	      <div class="table-responsive">
	        <table class="table">
	          <thead>
	            <tr>
	              <th>Fecha IMC</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="imc : ${listaImc}">
	              <td th:text="${imc.fechaIMC}"></td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>


 	<!-- footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
  <!-- Inclusión del archivo JavaScript de Bootstrap -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>