<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>
  <!-- Inclusión del archivo CSS de Bootstrap -->
  <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/estilos/estilos.css}">
</head>
<body>

<!-- Navegación -->
<nav th:replace="~{layouts/nav :: nav}"></nav>
	
<!-- Contenido del formulario -->

<div class="container mb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="form-container" th:action="${edicion}? @{/usuarios/modificar_usuario} : @{/usuarios/guardar_usuario}" th:object="${usuario}" method="post">
        <h2 class="peso_titulo" th:text="${edicion}? 'Modificar usuario' : 'Nuevo usuario'"></h2>

        <div class="mb-3">
        	<label>Nombre</label>
          	<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>

        <div class="mb-3">
        	<label>Apellido</label>
          	<input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
        </div>

        <div class="mb-3">
          	<label>Email</label>
          	<input type="text" class="form-control" id="email" name="email" th:field="*{email}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="mb-3">
        	<label>Fecha de nacimiento</label>
          	<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" th:field="*{fecha_nacimiento}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}"></div>
        </div>

        <div class="mb-3">
        	<label>Teléfono</label>
          	<input type="number" class="form-control" id="telefono" name="telefono" th:field="*{telefono}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
        </div>

        <div class="mb-3">
        	<label>Género</label>
          	<select class="form-control" id="sexo" name="sexo" th:field="*{sexo}">
            	<option value="">Seleccione su género</option>
            	<option value="masculino">Masculino</option>
            	<option value="femenino">Femenino</option>
          	</select>
          <div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
        </div>

        <div class="mb-3">
        	<label>Estatura en cm</label>
          	<input type="text" class="form-control" id="estatura" name="estatura" th:field="*{estatura}">
          	<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></div>
        </div>

        <div class="mb-3 form-check">
          	<input type="checkbox" class="form-check-input" id="rol" name="rol" th:checked="${usuario.rol}" th:field="*{rol}">
          	<label class="form-check-label" for="rol">Administrador</label>
        </div>

        <input type="hidden" name="id" th:value="*{id}">

        <p><input class="btn boton-imc" type="submit" th:value="${edicion}?'Modificar':'Guardar'"></p>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<footer th:replace="~{layouts/footer :: footer}"></footer>
	
<!-- Inclusión del archivo JavaScript de Bootstrap -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>