<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>
  <!-- Inclusión del archivo CSS de Bootstrap -->
  <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/estilos/estilos.css}">
</head>
<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="logo">Nutri<span class="logo logo_sub">Life</span></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registrarme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cálculo IMC</a></li>
            <li><a class="dropdown-item" href="#">Peso ideal</a></li>
            <li><a class="dropdown-item" href="#">Recetas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Contenido del formulario -->
<section class="hero">
  <div class="container centro">
    <div class="p-3 mb-2 bg-body-tertiary">
      <form class="form-centro">
        <h3>Formulario de Usuario</h3>
        <div class="form-group">
          <label for="nombre" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
          </div>
        </div>
        <div class="form-group">
          <label for="apellido" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
          </div>
        </div>
        <div class="form-group">
          <label for="fecha_nacimiento" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha de nacimiento" required>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" required>
          </div>
        </div>
        <div class="form-group">
          <label for="sexo" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <select class="form-control" id="sexo" name="sexo" required>
              <option value="">Seleccione su sexo</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
              <option value="otro">Otro</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="estatura" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <input type="number" class="form-control" id="estatura" name="estatura" placeholder="Estatura en cm" required>
          </div>
        </div>
        <div class="form-group">
          <label for="rol" class="col-md-4 text-center control-label"><i class="fa fa-user fa-2x"></i></label>
          <div class="col-md-10">
            <select class="form-control" id="rol" name="rol" required>
              <option value="">Seleccione su rol</option>
              <option value="administrador">Administrador</option>
              <option value="usuario">Usuario común</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div  class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
<!-- footer -->
<footer class="footer text-center text-lg-start text-white">
  <div class="d-flex flex-column flex-md-row justify-content-between container-fluid p-3">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <a class="navbar-brand logo" href="#">Nutri<span class="logo logo_sub">Life</span></a>
    </div>

    <div class="col-md-6 mt-4 mt-md-0">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 text-center">
          <!-- redes sociale -->
          <h5 class="text-uppercase">Contacto</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_facebook" th:src="@{/img/facebook.svg}">Facebook</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_correo" th:src="@{/img/gmail.svg}">Correo</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white"><img class="footer__icon" alt="img_instagram" th:src="@{/img/instagram.svg}">Instagramk</a>
            </li>
          </ul>
        </div>
        <!-- Servicios -->
        <div class="col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase">Servicios</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white">Masa corporal</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white">Recetas</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-white">Peso ideal</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">© 2023 Copyright: Grupo 37</div>
</footer>
<!-- Inclusión del archivo JavaScript de Bootstrap -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>