<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pesoIdeal</title>
    <!-- Inclusión del archivo CSS de Bootstrap -->
  	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	<link rel="shortcut icon" th:href="@{/img/icono.png}">
  </head>
  <body>
  	<!-- Navegación -->
  	<nav th:replace="~{layouts/nav :: nav}"></nav>
  	<!-- formulario para ingresar la edad del usuario para calcular el peso ideal -->
  	<div class="container peso_container2 peso_container d-flex align-items-center justify-content-center">
  	<div class="row">
  	<div class="col-md-12"> 
  	<div class="pesoDiseño">
       <label>Edad usuario: </label>
       <div th:text="${edad}"></div>
       <label> altura del usuario (cm) </label>
       <div th:text="${usuario.getEstatura()}"></div>
	   <div>Su peso ideal es: </div>
  	   <div th:text="${aviso} + 'KG' "></div>
  	</div>
  	</div>
  	</div>
  	</div>
 	<!-- footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
  <!-- Inclusión del archivo JavaScript de Bootstrap -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
