<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutriLife</title>
    <!-- Inclusión del archivo CSS de Bootstrap -->
  	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
  </head>
  <body>
  	<!-- Navegación -->
	<nav th:replace="~{layouts/nav :: nav}"></nav>
    
 	<!-- Detalle de la receta -->
	<div class="container d-flex align-items-center justify-content-center mt-5 mb-5 p-4">
	  <div class="row">
	    <div class="col-md-6 d-flex align-items-center justify-content-center">
	      <img th:src="@{'/img/'+${receta.nombreImg}+'.jpg'}" alt="receta" class="receta_detalle_img">
	    </div>
	    <div class="col-md-6">
	      <h2 th:text="${receta.nombre}" class="receta_titulo"></h2>
	      <h5 class="servicio__titulo">Ingredientes</h5>
	      <ul th:each="ingrediente:${ingredientes}">
	      	<li th:text="${ingrediente.nombre}"></li>
	      </ul>
	      	<h2 class="receta_subtitulo">Preparación</h2>
	      	<ul>
	      		<li th:each="ingrediente: ${receta.preparacion}">
			    <script th:inline="javascript">
			     var cadena = '[[${ingrediente}]]';
			     var subcadenas = cadena.split(".");
			     for (var i = 0; i < subcadenas.length; i++) {
			     document.write("<li>" + subcadenas[i]  + "</li>");
			     }
				 </script>
				</li>
			</ul>
			<a th:href="@{/recetas/vista}" class="btn boton-imc" role="button">Regresar</a>
	    </div>
	  </div>
	</div>
   
 	<!-- footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
  <!-- Inclusión del archivo JavaScript de Bootstrap -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>