<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutriLife</title>
    <!-- Inclusión del archivo CSS de Bootstrap -->
  	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	<style>
        .caption h3 {
            height: 3rem;
            overflow: hidden;
        }
        .caption p {
            height: 3rem;
            overflow: hidden;
        }
    </style>
  </head>
  <body>
  	<!-- Navegación -->
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	
    <div class="container peso_container d-flex align-items-center justify-content-center mt-2">
	<h1 class="peso_titulo">Recetas</h1>
        <section class="container mt-5 mb-5">
		  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
		    <div th:each="receta:${recetas}" class="col-10">
		      <div class="card h-100">
		        <div class="d-flex justify-content-center align-items-center">
			        <img th:src="@{'/img/'+${receta.categoria}+${receta.nombreImg}+'.jpg'}"  alt="Receta" class="rounded-circle mt-4" style="width: 250px; height: 250px;">
			    </div>
		        <div class="card-body text-center">
		          <h4 class="text-center" th:text="${receta.nombre}"></h4>
				  <p class="text-center"><a th:href="@{/recetas/detalle/}+${receta.id}" class="btn boton-imc" role="button">Ver Receta Completa</a></p>
		        </div>
		      </div>
		    </div>
		  </div>
		  <p class="text-center m-4"><a th:href="@{/recetas/categoria}" class="btn boton-imc" role="button">Regresar</a></p>
		</section>
    </div>
    
   
 	<!-- footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
  <!-- Inclusión del archivo JavaScript de Bootstrap -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>