<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registro de testimonio</title>
<!-- Inclusión del archivo CSS de Bootstrap -->
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
<link rel="shortcut icon" th:href="@{/img/icono.png}">
</head>
<body>
	<!-- Navegación -->
	<nav th:replace="~{layouts/nav :: nav}"></nav>

	<!-- Contenido del formulario -->
	<div class="container mt-2 peso_container">
		<div class="p-3 mb-2 bg-body-secondary">
			<form class="form-container"
				th:action="@{/testimonios/guardar_testimonio}"
				th:object="${testimonio}" method="post">
				<h2 class="peso_titulo">Nuevo testimonio</h2>
				<h4 th:text="'Usuario ' + ${usuario.nombre}"></h4>
				<div class="form-floating">
					<textarea style="width: 350px; height: 200px;" rows="200" cols="10"
						class="form-control" placeholder="Dejar el comentario aqui"
						id="comentario" name="comentario" required
						th:field="*{comentario}"></textarea>
					<label for="comentario">Ingrese su comentario aqui</label>
				</div>
				<!-- Campo oculto para almacenar el ID del testimonio -->
				<input type="hidden" name="id" th:value="*{id}">
				<!-- Campo oculto para almacenar el codigo de usuario -->
				<input type="hidden" name="codigo" th:value="${usuario.codigo}">
				<div class="d-grid gap-2">
					<input class="btn boton-imc m-5" type="submit" value="Guardar">
				</div>
			</form>
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>

	<!-- Inclusión del archivo JavaScript de Bootstrap -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>